# {{ ansible_managed }}

ui = {{ vault_ui }}
log_level = "{{ vault_log_level }}"
api_addr = "http://127.0.0.1:{{ vault_api_port }}"

listener "tcp" {  
    address = "0.0.0.0:{{ vault_api_port }}"
    tls_disable = true
}

cluster_addr = "http://127.0.0.1:8201"

storage "raft" {
    path    = "{{ vault_storage_raft_path }}"
    node_id = "{{ vault_storage_raft_node_id }}"
}

disable_mlock = {{ vault_disable_mlock }}