# {{ ansible_managed }}

ui = {{ vault_ui }}
log_level = "{{ vault_log_level }}"
api_addr = "http://127.0.0.1:{{ vault_api_port }}"

listener "tcp" {  
    address = "0.0.0.0:{{ vault_api_port }}"
    cluster_addr = "0.0.0.0:{{ vault_cluster_port }}"
    tls_disable = true
}


storage "raft" {
    path    = "{{ vault_storage_raft_path }}"
    node_id = "{{ vault_storage_raft_node_id }}"
{% for host in groups['vault_instances'] | reject('search', inventory_hostname) | list %}
    retry_join {
        leader_api_addr = "https://{{ hostvars[host].ansible_fqdn }}:8201"
        leader_tls_servername = "{{ hostvars[host].ansible_fqdn }}"
    }
{% endfor %}
}

disable_mlock = {{ vault_disable_mlock }}

