# {{ ansible_managed }}

ui = {{ vault_ui }}
log_level = "{{ vault_log_level }}"
api_addr = "{{ vault_api_addr }}"
cluster_addr = "{{ vault_cluster_addr }}"

listener "tcp" {  
    address = "{{ vault_listener_bind_address }}:{{ vault_api_port }}"
    cluster_address = "{{ vault_listener_bind_cluster_address }}:{{ vault_cluster_port }}"
    tls_disable = {{ vault_tls_disable }}
{% if vault_tls_disable == 'false' %}
    tls_cert_file = "{{ vault_tls_cert_file }}"
    tls_key_file = "{{ vault_tls_key_file }}"
{% endif %}
{% if vault_tls_client_ca %}
    tls_client_ca_file = "{{ vault_tls_client_ca_file }}"
{% endif %}
}

storage "raft" {
    path    = "{{ vault_storage_raft_path }}"
    node_id = "{{ vault_storage_raft_node_id }}"
{% for _vault_instance in vault_storage_raft_cluster_members | difference(vault_storage_raft_cluster_member_this) %}
    retry_join {
        leader_api_addr         = "https://{{ _vault_instance }}:{{ vault_api_port }}"
        leader_ca_cert_file     = "{{ vault_storage_raft_leader_ca_cert_file }}"
        leader_client_cert_file = "{{ vault_storage_raft_leader_client_cert_file }}"
        leader_client_key_file  = "{{ vault_storage_raft_leader_client_key_file }}"
{% if vault_raft_leader_tls_servername is defined %}
        leader_tls_servername = "{{ vault_raft_leader_tls_servername }}"
{% endif %}
    }
{% endfor %}

    autopilot {
        cleanup_dead_servers = "true"
        last_contact_threshold = "200ms"
        last_contact_failure_threshold = "10m"
        max_trailing_logs = 250000
        min_quorum = 3
        server_stabilization_time = "10s"
    }

}

disable_mlock = {{ vault_disable_mlock }}