# {{ ansible_managed }}

ui = {{ vault_ui }}
log_level = "{{ vault_log_level }}"
api_addr = "{{ vault_api_addr }}"
cluster_addr = "{{ vault_cluster_addr }}"

listener "tcp" {  
    address = "{{ vault_listener_bind_address }}:{{ vault_api_port }}"
    cluster_address = "{{ vault_listener_bind_cluster_address }}:{{ vault_cluster_port }}"
    tls_disable = {{ vault_tls_disable }}
{% if vault_tls_disable == 'false' %}
    tls_cert_file = "{{ vault_tls_cert_file }}"
    tls_key_file = "{{ vault_tls_key_file }}"
{% endif %}
}

storage "raft" {
    path    = "{{ vault_storage_raft_path }}"
    node_id = "{{ vault_storage_raft_node_id }}"
{% for host in groups['vault_instances'] | reject('search', inventory_hostname) | list %}
    retry_join {
        leader_api_addr = "https://{{ hostvars[host].ansible_fqdn }}:8200"
{% if vault_raft_leader_tls_servername is defined %}
        leader_tls_servername = "{{ vault_raft_leader_tls_servername }}"
{% endif %}
    }
{% endfor %}
}

disable_mlock = {{ vault_disable_mlock }}

